* {
    margin: 0;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*Header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 112px;
    background-color: whitesmoke;
}

/*Меню с кнопками в хэдэре*/
.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Кнопки в header-menu*/
.header-menu a {
    transition: 0.5s;
    color: rgb(48, 48, 48);
    margin-right: 16px;
    font-size: small;
    padding: 8px 12px;
}

/*Кнопки в header-menu когда навелись мышкой*/
.header-menu a:hover{
    transition: 0.5s;
    color: rgb(33, 33, 33);
    background-color: rgb(210, 210, 210);
    padding: 8px 12px;
}
/*---*/

/*Приветственный блок*/
.welcome{
    /*Устанавливаем flex для удобного позиционирования элементов*/
    display: flex;
    flex-direction: column; /*Элементы будут в столбик*/

    /*
        Настройки заднего фона.
        cover значит, что картинка растянется по всему размеру коробки
    */
    background-image: url(img/Logo.jpg);
    background-size: cover;

    align-items: center;
}

.welcome h1{
    color: white;

    font-size: 68px;
    margin-top: 150px;
}

.welcome p{
    color: white;
    font-size: x-large;

    margin-top: 36px;
    margin-bottom: 48px;
}

.welcome a{
    color: white;
    background-color:deepskyblue;
    font-size: x-large;

    padding: 12px;
    margin-bottom: 150px;
    
    border-radius: 3px;
}
/*---*/

/*Наборы*/
.kits {
    /*Устанавливаем flex для 
    удобного позиционирования элементов*/
    display: flex; 
    /*Элементы в столбик*/
    flex-direction: column; 

    /*Цвет заднего фона*/
    background-color:azure;
}

.kits h2 {
    margin: 32px auto;/*Отступ сверхи/снизу и выставляем по середине*/
    font-size: 60px; /*Размер шрифта*/
    color: rgb(48, 48, 48); /*Цвет шрифта*/
}     

.kits-list {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    margin-left: 380px;
    margin-right: 110px;
}

.kits-list-item {
    display: flex;
    flex-direction: column;

    margin-right: 140px;
    margin-top: 36px;

    background-color: aliceblue;
    padding: 22px 16px;
    border-radius: 3px;
    border: solid black 3px;
}

.last {
    margin-left: 300px;
}

.buyButton {
    background-color: deepskyblue;
    padding: 12px;
    text-align: center;
    color: white;
    border-radius: 3px;
}
/*---*/